<h1>Welcome, Sign In!</h1>
<ul>
  <li ng-repeat="student in students | orderBy: name">
  {{ student.name }}
  <span ng-show="!student.signedIn && !student.signedOut">
    <button type="button" class="btn btn-primary" ng-click="signIn(student)">Sign In</button>
  </span>

  <span ng-show="student.signedIn && !student.signedOut">
    <button type="button" class="btn btn-danger" ng-click="signOut(student)">Sign out</button>
  </span>
  </li>
</ul>

<h3>Gone for the day</h3>
  <p ng-show="!leftEarly.length">No one</p>
  <ul>
    <li ng-repeat="student in leftEarly = (students | filter: {signedIn: true, signedOut: true })">
    {{ student.name }}
  </li>
</ul>
<br>
<br>
<a ui-sref="home"><button type="submit" class="btn btn-warning">Home</button></a>
