<h1>Student Attendance</h1>

<h3>Students present</h3>
<p ng-show="!areSignedIn.length">No students have signed in.</p>
<ul>
  <li ng-repeat="student in areSignedIn = (students | filter: {signedIn: true, signedOut: false})">
  {{ student.name }}
  </li>
</ul>

<h3>Students Absent</h3>
  <p ng-show="!areNotSignedIn.Length">
  <ul>
    <li ng-repeat="student in areNotSignedIn = (students | filter: {signedIn: false, signedOut: false })">
    {{ student.name }}
  </li>
</ul>
<br>
<br>
<a ui-sref="home"><button type="submit" class="btn btn-warning">Home</button></a>
